# Ignorar o ambiente virtual
venv/

# Ficheiros temporários
*.pyc
__pycache__/

# Ficheiros de configuração locais
*.log
*.env

# Outros ficheiros a excluir
NLP fundamentals.ipynb
Wiki Portugal.txt
Install_model_pt.txt
LyonData_Fran_NLP_4_Bag_of_Words.ipynb
LyonData_Fran_NLP_5_TfIdf.ipynb
nltk_install_aid.ipynb